In [17]:
import pandas as pd
import csv
from sklearn.preprocessing import StandardScaler

data = pd.read_csv('league_data.csv')
data.tail()

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
9874,4527873286,1,17,2,1,7,4,5,1,1,...,0,15246,6.8,16498,229,34,-2519,-2469,22.9,1524.6
9875,4527797466,1,54,0,0,6,4,8,1,1,...,0,15456,7.0,18367,206,56,-782,-888,20.6,1545.6
9876,4527713716,0,23,1,0,6,7,5,0,0,...,0,18319,7.4,19909,261,60,2416,1877,26.1,1831.9
9877,4527628313,0,14,4,1,2,3,3,1,1,...,0,15298,7.2,18314,247,40,839,1085,24.7,1529.8
9878,4523772935,1,18,0,1,6,6,5,0,0,...,0,15339,6.8,17379,201,46,-927,58,20.1,1533.9

In [11]:
scaler = StandardScaler()
scaler.fit(data)
scaled = scaler.fit_transform(data)

# Normalizing all Values
scaled_data = pd.DataFrame(scaled,columns=data.columns)
scaled_data.drop('blueWins', inplace=True, axis=1)

# Adding Back blueWins 
scaled_data.insert(0,'blueWins', data['blueWins'])
scaled_data['blueWins'] = scaled_data['blueWins'].replace(1,2)
scaled_data['blueWins'] = scaled_data['blueWins'].replace(0,1)

scaled_data.tail()

,blueWins,gameId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
9874,2,1.007883,-0.293496,-0.379275,0.990429,0.271042,-0.728666,-0.404768,0.719503,1.327623,...,-0.198353,-0.833801,-0.410475,-1.221278,0.531742,-1.726582,-1.020936,-1.303263,0.531742,-0.833801
9875,2,1.005133,1.759976,-1.298863,-1.009663,-0.061087,-0.728666,0.333364,0.719503,1.327623,...,-0.198353,-0.692938,0.244627,0.338141,-0.517980,0.467412,-0.312888,-0.479942,-0.517980,-0.692938
9876,1,1.002096,0.039499,-0.839069,-1.009663,-0.061087,0.293944,-0.404768,-0.879231,-0.753226,...,-0.198353,1.227490,1.554831,1.624724,1.992226,0.866319,0.990702,0.959957,1.992226,1.227490
9877,1,0.998998,-0.459994,0.540312,0.990429,-1.389604,-1.069536,-0.896856,0.719503,1.327623,...,-0.198353,-0.798921,0.899729,0.293920,1.353264,-1.128220,0.347874,0.547516,1.353264,-0.798921
9878,2,0.859168,-0.237997,-1.298863,0.990429,-0.061087,-0.046926,-0.404768,-0.879231,-0.753226,...,-0.198353,-0.771419,-0.410475,-0.486207,-0.746180,-0.529858,-0.371994,0.012696,-0.746180,-0.771419

In [22]:
scaled_data.to_csv('cleaned_league_data.txt',
                   float_format='%10.5f', sep=" ",
                   quoting=csv.QUOTE_NONE, escapechar=" ",
                   index=None, header=None)

In [23]:
# Creating sampled subset
sample.to_csv('cleaned_league_data.txt',
                   float_format='%10.5f', sep=" ",
                   quoting=csv.QUOTE_NONE, escapechar=" ",
                   index=None, header=None)

,blueWins,gameId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
8486,2,0.548988,-0.182498,-0.839069,-1.009663,-0.061087,-0.046926,-0.896856,-0.879231,-0.753226,...,-0.198353,0.025462,0.899729,0.500007,0.212262,0.666865,-0.097254,0.257974,0.212262,0.025462
9357,2,0.962291,0.705490,-0.839069,0.990429,1.267430,-0.728666,0.333364,0.719503,1.327623,...,-0.198353,-0.716415,-0.410475,-0.356047,0.851223,-1.227947,-0.897425,-0.511709,0.851223,-0.716415
4097,2,0.300305,-0.293496,-1.298863,0.990429,0.603172,1.316554,0.087320,-0.879231,-0.753226,...,-0.198353,2.266521,0.899729,1.153311,1.900945,-1.128220,1.408519,0.959436,1.900945,2.266521
7259,2,-0.075480,-0.570992,-1.298863,-1.009663,0.271042,0.634814,0.087320,-0.879231,-0.753226,...,-0.198353,0.719043,0.899729,1.180010,0.394822,0.068504,0.358065,0.432949,0.394822,0.719043
9477,1,0.364089,-0.515493,-0.379275,-1.009663,-0.725346,0.293944,-0.896856,-0.879231,-0.753226,...,4.412301,1.055101,0.899729,0.519197,0.714303,-0.330404,1.598065,1.289077,0.714303,1.055101